.mp4 filter=lfs diff=lfs merge=lfs -text
.MP4 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
.JPG filter=lfs diff=lfs merge=lfs -text
public/images/HCT-16.JPG filter=lfs diff=lfs merge=lfs -text
public/videos/export.mp4 filter=lfs diff=lfs merge=lfs -text
